<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Win.Input.MultiSelect" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.TreeView" version="8.0.20241.657" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="C1.Win" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.C1Command" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.Win.C1Input" version="4.8.20241.657" targetFramework="net48" />
  <package id="GraphQL.Client" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Abstractions" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="6.1.0" targetFramework="net48" />
  <package id="GraphQL.Primitives" version="6.1.0" targetFramework="net48" />
  <package id="HotChocolate.Language.SyntaxTree" version="14.0.0-p.124" targetFramework="net48" />
  <package id="HotChocolate.Transport.Abstractions" version="14.0.0-p.124" targetFramework="net48" />
  <package id="HotChocolate.Transport.Http" version="14.0.0-p.124" targetFramework="net48" />
  <package id="HotChocolate.Utilities" version="14.0.0-p.124" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.1.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Sdl.MultiSelectComboBox" version="1.0.77" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="26.1.40" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="26.1.40" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="26.1.40" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="26.1.40" targetFramework="net48" />
  <package id="Syncfusion.SfInput.WinForms" version="26.1.40" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="26.1.40" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="26.1.40" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="6.0.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Http.Json" version="6.0.0" targetFramework="net48" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.7" targetFramework="net48" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>